.activities-page {
	margin: 12.8rem $spacing-xxxl 0rem $spacing-xxxl;
	text-align: center;
	&__heading {
		position: absolute;
		opacity: 0;
	}
	&__subheading {
		display: block;
		font-family: "Roboto", sans-serif;
		font-size: 2.4rem;
		padding-top: $spacing-xxs;
	}
	&__section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: $spacing-xl;
	}
	&__description {
		max-width: $measure-body-copy;
		&--cta {
			color: $dark-blue;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__image {
		margin-top: $spacing-l;
		width: 100%;
		height: auto;
		// width: 142.5rem;
		// height: 75.208rem;
		border-radius: $border-radius;
	}
}
