#activities {
	margin: 12.8rem $spacing-extra-large 0rem $spacing-extra-large;
	text-align: center;
	p {
		margin: $spacing-medium 0rem $spacing-medium 0rem;
		padding: 0rem $spacing-extra-large 0rem $spacing-extra-large;
	}

	section {
		margin-bottom: $spacing-large;
	}
	img {
		width: 100%;
		height: auto;
	}
}
