.contact-page {
	margin: 12.8rem $spacing-xxxl 0rem $spacing-xxxl;
	text-align: center;

	&__form-wrapper {
		position: relative;
		margin-top: $spacing-l;
		background-image: url(../images/desktop/background/contact-form-image.jpg);
		background-size: cover;
		border-radius: 8px;
		overflow: hidden;
		@include elevation-1dp;
	}
	&__form-background-gradient {
		position: absolute;
		inset: 0;
		z-index: 2;
		background-image: linear-gradient(
			to top,
			rgba(27, 44, 140, 1),
			rgba(27, 44, 140, 0.7) 50%
		);
		mask-image: linear-gradient(
			to left,
			transparent,
			rgba(0, 0, 0, 0.6) 50%,
			rgba(0, 0, 0, 1) 100%
		);
	}
}
.contact-form {
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	gap: $spacing-l;
	padding: $spacing-l;

	&__input-label {
		border-radius: 8px;
		overflow: hidden;
		@include elevation-1dp;

		&[for="privacy-policy"] {
			display: inline-flex;
			align-items: center;
			gap: 0.8rem;
			cursor: pointer;
			font-size: 1.6rem;
		}
	}
	&__input {
		width: 100%;
		border: none;
		padding: 1rem;

		&[name="privacy-policy"] {
			all: revert;
			width: 2.4rem;
			height: 2.4rem;
		}
	}
	&__privacy-policy-wrapper {
		text-align: left;
		color: $white;
	}
	&__privacy-policy-heading {
		font-family: "Roboto", sans-serif;
		font-size: 2rem;
		font-weight: bold;
		text-align: left;
		color: $white;
		margin: 0;
		padding: 0;
	}
	&__privacy-policy-description {
		padding: $spacing-xs 0rem $spacing-xs 0rem;
	}
	&__privacy-policy-link {
		text-decoration: underline;
	}
	&__last-row {
		display: flex;
		align-items: center;
	}
	&__submission-button {
		width: revert;
		border-radius: 8px;
		border: none;
		background: $white;
		color: $dark-blue;
		margin-right: $spacing-l;
		padding: 0.8rem 1.6rem 0.8rem 1.6rem;
		cursor: pointer;
		@include elevation-2dp();
	}
}
