.footer {
	background-color: $dark-blue;
	background-image: url(../icons/angels-bg-footer-01.svg);
	background-position: center;
	color: $white;
	padding: $spacing-s $spacing-xxxl $spacing-l $spacing-xxxl;
	margin-top: $spacing-xl;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;

	&__content-container {
		display: flex;
		flex-direction: column;
		gap: $spacing-xs;
		padding-top: $spacing-xs;
	}

	&__content-container:nth-child(2) {
		align-items: center;
		gap: 0;
		padding-top: 0;

		.logo {
			padding-bottom: $spacing-l;
		}
	}
	&__site-info {
		font-size: 1.2rem;
		line-height: normal;
		padding-bottom: 1.2rem;
	}

	&__contact-form-link {
		text-decoration: underline;
	}
}
.contact-info__content {
	display: flex;
	align-items: center;
	gap: $spacing-xs;
}
