footer {
	background-color: $dark-blue;
	background-image: url(../icons/angels-bg-footer-01.svg);
	background-size: cover;
	color: $white;
	padding: $spacing-small $spacing-extra-large $spacing-medium
		$spacing-extra-large;
	margin-top: $spacing-large;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	div,
	address {
		//all columns
		display: flex;
		flex-direction: column;
		align-items: left;
	}
	address + div {
		//center column
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			padding-bottom: $spacing-extra-small;
		}
		small,
		small a {
			all: revert;
			color: white;
			font-size: $base-unit;
			padding-bottom: 1.2rem;
			text-decoration: none;
		}
	}
	address:first-child,
	div:last-child {
		//first and last columns
		padding: $spacing-extra-small 0rem 0rem 0rem;

		p,
		a {
			padding: 0rem 0rem $spacing-extra-small 0rem;

			span {
				display: flex;
				align-items: center;
				gap: $spacing-extra-small;
			}
		}
	}
	div:last-child a {
		text-decoration: underline;
	}
}
