*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}
body {
	background-color: $white;
}
.main-content {
	transition: filter 0.5s ease;
}

h1,
h2,
h3,
h4 {
	font-family: "Philosopher", sans-serif;
	font-weight: 400;
	color: $dark-blue;
	text-align: center;
}

h1,
h2 {
	font-size: 4.8rem;
	padding-bottom: $spacing-l;
}

h3 {
	font-size: 3.2rem;
	padding-bottom: $spacing-m;
}
p,
li,
button,
a,
input,
textarea {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.6;
}
p,
a {
	letter-spacing: 0.8px;
}

a,
li {
	text-decoration: none;
	color: $white;
}
ul {
	list-style: none;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: $spacing-l;
	margin-bottom: $spacing-xl;
}

.button {
	width: 25.6rem;
	height: 4.8rem;
	border: none;
	border-radius: 0.8rem;
	@include elevation-2dp();
	transition: all 0.15s ease;

	&--primary {
		background-color: $dark-blue;
	}

	&__link {
		display: block;
		color: $dark-blue;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&--primary {
			color: white;
		}
	}
	&:hover {
		@media (hover: hover) {
			transform: scale(1.1);
			@include elevation-4dp();
		}
	}
}
