*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: "Philosopher", sans-serif;
	font-weight: 400;
	color: $dark-blue;
	text-align: center;
}

h2 {
	font-size: 4.8rem;
}
h3 {
	font-size: 4.8rem;
	margin-bottom: 4.8rem;
}
h4 {
	font-size: 3.2rem;
	padding-bottom: 2.4rem;
}
p,
li,
button,
a,
input,
textarea {
	font-family: "Roboto", sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3rem;
}

a,
li {
	text-decoration: none;
	color: $white;
}
button {
	a {
		color: $dark-blue;
		width: 100%;
	}
	width: 25.6rem;
	height: 4.8rem;
	border: none;
	border-radius: 0.8rem;
	@include elevation-2dp();
}

.primary-btn {
	a {
		color: $white;
	}
	background-color: $dark-blue;
	margin-right: 4.8rem;
}
small {
	font-size: 1.6rem;
}
