#hero {
	height: 100vh;
	position: relative;
	background-image: url(../images/desktop/hero/hero-01.jpg);
	background-size: cover;
	background-position: bottom;
	margin-bottom: $spacing-large;
	div {
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to bottom,
			rgba(92, 187, 252, 1),
			rgba(92, 187, 252, 0.17) 60%
		);
		mask-image: linear-gradient(
			to left,
			transparent,
			rgba(0, 0, 0, 0.6) 70%,
			rgba(0, 0, 0, 1) 100%
		);
	}

	header {
		all: revert;
		position: absolute;
		top: $spacing-extra-large;
		left: $spacing-extra-large;
		text-align: center;

		h2 {
			font-size: 13.6rem;
		}
		h3 {
			font-family: "Roboto", sans-serif;
			font-size: 3.2rem;
			font-weight: 300;
			padding: $spacing-small 0rem 0rem 0rem;
		}
	}
}
#suites-and-cottages {
	margin: 0rem $spacing-extra-large $spacing-large $spacing-extra-large;
	div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: $spacing-small;
	}

	a {
		position: relative;
		display: inline-block;
		border-radius: 8px;
		overflow: hidden;
		line-height: 0;

		div {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $dark-blue;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0rem 10.4rem 0rem 10.4rem;
			opacity: 0;
			transition: all 0.5s ease-in-out;

			&:hover {
				opacity: 75%;
			}
		}
		p {
			text-align: center;
		}
		h4 {
			color: $white;
		}
	}
}
//Testimonials
aside {
	border: 0.1rem solid $dark-blue;
	margin: 0rem $spacing-extra-large $spacing-medium $spacing-extra-large;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;

	img:first-child {
		width: 14.4rem;
		height: auto;
	}
	img:last-child {
		width: 5.2rem;
		height: auto;
	}
	img {
		margin: $spacing-extra-small;
	}
}

aside + div {
	display: flex;
	justify-content: center;
	margin-bottom: $spacing-large;
}
.activities {
	text-align: center;
	margin: 0 $spacing-extra-large 0 $spacing-extra-large;
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		padding: 0 $spacing-extra-small $spacing-medium $spacing-extra-small;
	}
	img {
		width: 100%;
		height: auto;
	}
}
