.hero-section {
	height: 100vh;
	position: relative;
	background-image: url(../images/desktop/hero/hero-01.jpg);
	background-size: cover;
	background-position: bottom;
	margin-bottom: $spacing-xl;
	&__background-gradient {
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to bottom,
			rgba(92, 187, 252, 1),
			rgba(92, 187, 252, 0.17) 60%
		);
		mask-image: linear-gradient(
			to left,
			transparent,
			rgba(0, 0, 0, 0.6) 70%,
			rgba(0, 0, 0, 1) 100%
		);
	}

	&__content {
		position: absolute;
		top: $spacing-xxxl;
		left: $spacing-xxxl;
	}
	&__heading {
		font-size: 13.6rem;
		padding: 0;
	}
	&__subheading {
		font-family: "Roboto", sans-serif;
		font-size: 3.2rem;
		font-weight: 300;
		padding-top: $spacing-s;
	}
}

.suites-and-cottages-section {
	margin: 0rem $spacing-xxxl $spacing-xl $spacing-xxxl;
	&__card-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: $spacing-s;
	}

	.card {
		position: relative;
		border-radius: 8px;
		overflow: hidden;
		line-height: 0;
		@include elevation-1dp;

		&:hover {
			@include elevation-8dp;
			transition: all 0.5s ease-in-out;
		}
		&__heading {
			color: $white;
			line-height: 0;
			padding-bottom: $spacing-m;
		}
		&__description {
			text-align: center;
		}

		&__text-wrapper {
			position: absolute;
			inset: 0;
			background-color: $dark-blue;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0rem 10.4rem 0rem 10.4rem;
			opacity: 0;
			transition: all 0.5s ease-in-out;

			&:hover {
				opacity: 75%;
			}
		}
	}
}

.testimonials {
	border: 0.1rem solid $dark-blue;
	margin: 0rem $spacing-xxxl $spacing-l $spacing-xxxl;
	border-radius: 8px;
	padding: $spacing-xs;

	&__slides {
		list-style: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	&__slide {
		grid-area: 1 / 1 /2 /2;
		color: $dark-blue;
		text-align: center;
		opacity: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: $spacing-xs;

		&[data-active] {
			opacity: 1;
		}
	}
	&__profile-image {
		width: 14.4rem;
		height: auto;
	}
	&__stars-image {
		width: 14.6rem;
		height: auto;
	}
	&__quote {
		line-height: 1.6;
	}
	&__text-wrapper {
		margin-bottom: $spacing-xs;
		// display: none;
	}

	&__progress-indicators {
		display: flex;
		justify-content: center;
		gap: $base-unit;
		list-style: none;
	}

	&__progress-indicator {
		border: 1.6px solid $dark-blue;
		border-radius: 100%;
		width: 1.2rem;
		height: 1.2rem;
		cursor: pointer;
		&[data-active] {
			background-color: $dark-blue;
		}
	}
}

.activities-section {
	text-align: center;
	margin: 0 $spacing-xxxl 0 $spacing-xxxl;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__description {
		max-width: $measure-body-copy;
		margin-bottom: $spacing-l;
	}
	&__image {
		width: 100%;
		height: auto;
		border-radius: $border-radius;
	}
}
