.suite {
	margin: 12.8rem $spacing-extra-large 0rem $spacing-extra-large;
	text-align: center;
	h2 {
		margin-bottom: 4.2rem;
	}
	section:first-child {
		div:last-child {
			margin-top: $spacing-medium;
		}
	}
	h2 + p,
	h3 + p {
		padding: 0rem $spacing-extra-large 0rem $spacing-extra-large;
	}
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: $spacing-large;
	}
	.image-carousel {
		width: 100%;

		div:first-child {
			position: relative;

			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			margin: $spacing-medium 0rem $spacing-extra-small 0rem;
		}
	}
	.slides {
		display: grid;
	}
	.slide {
		grid-area: 1 / 1 /2 /2;
		list-style: none;
		opacity: 0;
		transition: 200ms opacity ease-in-out;
		transition-delay: 200ms;

		&[data-active] {
			opacity: 1;
			transition-delay: 0ms;
			z-index: 1;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 8px;
		}
	}
	.carousel-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
		background: none;
		text-align: center;
		filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg)
			brightness(103%) contrast(101%);
		opacity: 0.7;
		cursor: pointer;
	}
	.prev {
		left: 1rem;
	}
	.next {
		right: 1rem;
	}
	.carousel-button:focus,
	.carousel-button:hover {
		//Theres colors need to change
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.2);
	}

	.progress-indicators {
		display: flex;
		justify-content: center;
		margin-bottom: $spacing-medium;

		li {
			list-style: none;
			color: $dark-blue;
			font-size: 1.8rem;
			border: 1.6px solid $dark-blue;
			border-radius: 100%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			//This height and width break my 8px rule.
			width: 3rem;
			height: 3rem;
			margin: 0rem $base-unit 0rem $base-unit;
			cursor: pointer;

			&[data-active] {
				background: $dark-blue;
				color: $white;
			}
		}
	}

	ul {
		width: 100%;
		display: flex;
		justify-content: space-between;
		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				width: 4.8rem;
				height: auto;
			}
			p {
				color: $charcoal;
				width: 100%;
				text-align: center;
			}
		}
	}

	section:nth-child(4) {
		margin-bottom: $spacing-large;
	}
}
